{% include "header.html" %}
<body>
  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="offset-lg-2 col-lg-8 col-lg-2 order-lg-1 my-auto showcase-text">
       <h2>Sie haben jemanden gefunden!</h2>
          <p class="lead mb-0">
            Sie können {{eingabe["Vorname"]}} {{eingabe["Name"]}} unter der Adresse:"{{eingabe["Email"]}}" kontaktieren.</p>
     <form action="/confirmed/" method="POST">
        <div class="form-group">
          <div class=" lead mb-0 text-center">
          <h2> Liebe/r Helfer/in </h2>
          <p>Wir freuen uns sehr über Ihre Hilfe! </br> Bitte teilen Sie uns noch Ihren Namen mit und bestätigen Sie Ihre Hilfe.</p> </div>
          <label for="name">Auftrags Id</label>
          <input type="text" class="form-control" name="auftrag_id" value="{{eingabe['id']}}" readonly>
          <label for="name">Name</label>
          <input type="text" class="form-control" name="helfername" placeholder="Ihr Vor und Nachname" required>
        </div>
        <div class="text-center"> 
        <button type="submit" class="btn btn-primary">Ja ich helfe</button> </div>
      </form>
    </div>
    </div>
  </div>
  </section>
</body>

{% include "footer.html" %}