{% include "header.html" %}
<body>
  
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="offset-md-1 col-md-10 col-md-1 order-lg-1 my-auto showcase-text">
      <h2 class="text-center">Offene Aufträge</h2>
      <p class="text-center"> Hier werden Ihnen alle offenen Aufträge angezeigt nach PLZ. <br/> Die Frist wird nach den Ampelfarben rot, orange und grün unterteilt.</p>
      <div>
        <table class="table table-hover table-bordered table-striped">
      <thead class="thead-dark">
        <!-- Ausgabe der Tabelle, Adresse, Frist und Eintrag sollen auf einer Zeile ausgegeben werden 
          Quelle Tabelle: https://getbootstrap.com/docs/4.4/content/tables/ -->
        <tr>
          <th scope="col">Vorname</th>
          <th scope="col">Name</th>
          <th width="30%" scope="col">Adresse</th>
          <th scope="col">PLZ</th>
          <th scope="col">Ort</th>
          <th width="30%" scope="col">Eintrag</th>
           <th width="30%" scope="col">Frist</th>
          <th scope="col"> Status </th>
          <th scope="col"> Auwahl </th>
        </tr>
      </thead>
      <tbody>
        <!-- safe verwendet um manuelle Variabel aus py abzufragen/bestätigen
          offene Aufträge könnnen ausgewählt werden - landet bei erledigt, analaog nach biete_hilfe_resultat.html-->
        {% for ergebnis in suchergebnis: %}
          <tr>
          <th>{{ ergebnis["Vorname"] }}</th>
          <th>{{ ergebnis["Name"] }}</th>
          <th>{{ ergebnis["Adresse"] }}</th>
          <th>{{ ergebnis["PLZ"] }}</th>
          <th>{{ ergebnis["Ort"] }}</th>
          <th>{{ ergebnis["Eintrag"] }}</th>
          <th>{{ ergebnis["Frist"]|safe }}</th>
          <th>{{ ergebnis["Status"] }}</th>
          <th><a class="btn btn-primary" href="{{url_for('erledigt', id=ergebnis['id'])}}" role="button">auswählen</a></th>
          <!-- alternative: <a href="{{url_for('erledigt', id=ergebnis['id'])}}" role="button"><button type="button" class= "btn btn-primary">auswählen</button></a> -->
        </tr>
       {% endfor %}
      </tbody>
      </table>
      </div>
      <p> <br/> <br/> </p>
      <!-- geschlossene Aufträge können ausgewählt werden zur Prüfung, wer den Auftrag ausgeführt hat-->
      <h2 class="text-center">Geschlossene Aufträge</h2>
      <p class="text-center"> Wählen Sie bitte einen Auftrag aus, um zu sehen, wer diesen erledigt hat. </br>
      <div>
        <table class="table table-hover table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Vorname</th>
          <th scope="col">Name</th>
          <th width="30%" scope="col">Adresse</th>
          <th scope="col">PLZ</th>
          <th scope="col">Ort</th>
          <th width="30%" scope="col">Eintrag</th>
           <th width="40%" scope="col">Frist</th>
          <th scope="col"> Status </th>
          <th scope="col"> Auwahl </th>
        </tr>
      </thead>
      <tbody>
        <!-- safe verwendet um manuelle Variabel aus py abzufragen/bestätigen-->
        {% for ergebnis in suchergebnis_2: %}
          <tr>
          <th>{{ ergebnis["Vorname"] }}</th>
          <th>{{ ergebnis["Name"] }}</th>
          <th>{{ ergebnis["Adresse"] }}</th>
          <th>{{ ergebnis["PLZ"] }}</th>
          <th>{{ ergebnis["Ort"] }}</th>
          <th>{{ ergebnis["Eintrag"] }}</th>
          <th>{{ ergebnis["Frist"] }}</th>
          <th>{{ ergebnis["Status"] }}</th>
          <th><a class="btn btn-primary" href="{{url_for('helfer', id=ergebnis['id'])}}" role="button">auswählen</a></th>
          <!-- alternative: <a href="{{url_for('erledigt', id=ergebnis['id'])}}" role="button"><button type="button" class= "btn btn-primary">auswählen</button></a> -->
        </tr>
       {% endfor %}
      </tbody>
      </table>
      </div>
      </div>
  </section>

</body>

{% include "footer.html" %}
