{% include "header.html" %}
<body>
  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="offset-md-1 col-md-10 col-md-1 order-lg-1 my-auto showcase-text">
      <h2 class="text-center">Hier werden Ihnen alle offenen Aufträge anzgezeigt</h2>
      <p> #Einträge mit Frist heute oder bis übermorgen werden gelb angezeigt </br>
      #Einträge mit abgelaufener Frist wird rot angezeigt </br>
    #Einträge mit Frist in 3 Tagen und höher werden grün angezeigt</p>
      <div>
        <table class="table table-hover table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Vorname</th>
          <th scope="col">Name</th>
          <th scope="col">Adresse</th>
          <th scope="col">PLZ</th>
          <th scope="col">Ort</th>
          <th width="50%" scope="col">Eintrag</th>
           <th width="40%" scope="col">Frist</th>
          <th scope="col"> Status </th>
          <th scope="col"> Auwahl </th>
        </tr>
      </thead>
      <tbody>
        <!-- safe verwendet um manuelle Variabel aus py abzufragen/bestätigen-->
        {% for ergebnis in suchergebnis: %}
          <tr>
          <th>{{ ergebnis["Vorname"] }}</th>
          <th>{{ ergebnis["Name"] }}</th>
          <th>{{ ergebnis["Adresse"] }}</th>
          <th>{{ ergebnis["PLZ"] }}</th>
          <th>{{ ergebnis["Ort"] }}</th>
          <th>{{ ergebnis["Eintrag"] }}</th>
          <th>{{ ergebnis["Frist"]|safe }}</th>
          <th>{{ ergebnis["Status"] }}</th>
          <th><a class="btn btn-primary" href="{{url_for('erledigt', id=ergebnis['id'])}}" role="button">auswählen</a></th>
          <!-- alternative: <a href="{{url_for('erledigt', id=ergebnis['id'])}}" role="button"><button type="button" class= "btn btn-primary">auswählen</button></a> -->
        </tr>
       {% endfor %}
      </tbody>
      </table>
      </div>
      </div>
  </section>

  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="offset-md-1 col-md-10 col-md-1 order-lg-1 my-auto showcase-text">
      <h2 class="text-center">Hier werden Ihnen alle geschlossenen Aufträge anzgezeigt</h2>
      <p> Wählen Sie einen Auftrag aus, um zu sehen, wer diesen erledigt hat. </br>
      <div>
        <table class="table table-hover table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Vorname</th>
          <th scope="col">Name</th>
          <th scope="col">Adresse</th>
          <th scope="col">PLZ</th>
          <th scope="col">Ort</th>
          <th width="50%" scope="col">Eintrag</th>
           <th width="40%" scope="col">Frist</th>
          <th scope="col"> Status </th>
          <th scope="col"> Auwahl </th>
        </tr>
      </thead>
      <tbody>
        <!-- safe verwendet um manuelle Variabel aus py abzufragen/bestätigen-->
        {% for ergebnis in suchergebnis_2: %}
          <tr>
          <th>{{ ergebnis["Vorname"] }}</th>
          <th>{{ ergebnis["Name"] }}</th>
          <th>{{ ergebnis["Adresse"] }}</th>
          <th>{{ ergebnis["PLZ"] }}</th>
          <th>{{ ergebnis["Ort"] }}</th>
          <th>{{ ergebnis["Eintrag"] }}</th>
          <th>{{ ergebnis["Frist"] }}</th>
          <th>{{ ergebnis["Status"] }}</th>
          <th><a class="btn btn-primary" href="{{url_for('helfer', id=ergebnis['id'])}}" role="button">auswählen</a></th>
          <!-- alternative: <a href="{{url_for('erledigt', id=ergebnis['id'])}}" role="button"><button type="button" class= "btn btn-primary">auswählen</button></a> -->
        </tr>
       {% endfor %}
      </tbody>
      </table>
      </div>
      </div>
  </section>

</body>

{% include "footer.html" %}
